@import 'base';


html {
	font-size: 62.5%;
}

body{

	color: #FFFFFF;
	background-color: #0E233E;
	font-family: helvetica;
	font-size:2.4em;
	line-height:1.9em;

	

}

.display_non{

	display: none;


}
.dummy_div{

	clear: both;
	float: none;
	height: 0px;

}


.header{


	height: 700px;
	background: url("../../assets/img/Header.jpg") no-repeat;
	background-size: cover;

	.content_pint{
		
		visibility: hidden;

	}

	.content_header{

		width: 1150px;
		height: 510px;

		margin: 0 auto;
		padding-top: 187px;


		.handen{

			
			width: 562px;
			height: 514px;

			float: left;

			background: url("../../assets/img/Header_handen.png") no-repeat;


		}

		h1{

			//position: absolute;
			// margin-top: 290px;
			// margin-left: 720px;

			float: left;
			margin-top: 50px;
			margin-left: 20px;
			

			width: 550px;
			height: 110px;

			font-family: aachen;
			font-size: 2.4em;

			-webkit-font-smoothing: antialiased;

			span{

				font-size: 0.7em;
				

			}
			

		}

		.meer_info{

			//position: absolute;
			// margin-top: 420px;
			// margin-left: 730px;
			
			float: left;
			margin-top: 10px;
			margin-left: 20px;
			

			width: 200px;
			height: 50px;
			border: 3px solid #b8974b;

			text-align: center;


		}


	}

}

.menu_header{

	

	.logo{

		position: absolute;

		text-indent: -999999px;
		width: 101px;
		height: 65px;
		background: url("../../assets/img/logo.png") no-repeat;

		margin-left: 100px;
		margin-top: 20px;
		

	}
	
	ul{

		float: right;
		margin-top: 40px;
		margin-right: 100px;


		font-family: aachen;
		font-size: 1em;

		-webkit-font-smoothing: antialiased;

		li{

			float: left;
			margin-left: 30px;


			a{

				color:#ffffff;
				text-decoration: none;

				&:hover{

					color:#B89655;

				}

			}

		}

	}

}
nav{


	height: 80px;
	background-color: #0e233e;

	h1{

		position: absolute;

		text-indent: -999999px;
		width: 101px;
		height: 65px;
		background: url("../../assets/img/logo.png") no-repeat;

		margin-left: 100px;
		margin-top: 10px;

	}

	ul{

		float: right;
		margin-top: 20px;
		margin-right: 100px;

		font-family: aachen;
		font-size: 1em;

		-webkit-font-smoothing: antialiased;
		


		li{

			float: left;
			margin-left: 30px;


			a{

				color:#ffffff;
				text-decoration: none;

				&:hover{

					color:#B89655;

				}

			}

		}

	}

}

.video{

	
	height: 300px;
	background: url("../../assets/img/video.jpg") no-repeat;
	background-size: cover;
	
}
.button_video{

	width: 310px;
	height: 150px;
	background: url("../../assets/img/button_video.png") no-repeat 95px 90px;

	padding-top: 190px;
	margin-left: auto;
	margin-right: auto;

	text-align: center;
	color:#B89655;

}

.challenges{

	height: 600px;

	article{

		float: left;
		width: 480px;
		height: 600px;


		-webkit-font-smoothing: antialiased;

		h1{

			text-align: center;

			font-family: aachen;
			font-size: 1.2em;

			-webkit-font-smoothing: antialiased;

		}

		p{

			width: 380px;
			margin: 0 auto;
			margin-top: 20px;

			font-size: .8em;
			line-height: 30px;

			text-align: center;

		}

	}

}

.center_challenges{

	margin: 0 auto;
	width: 1440px;


	.challenge_1{

		background: url("../../assets/img/challenge_1.jpg") no-repeat;

		.badge_1{

			width: 320px;
			height: 270px;
			background: url("../../assets/img/badge_1.png") no-repeat;

			margin-left: auto;
			margin-right: auto;
			margin-top: 72px;

		}

	}

	.challenge_2{

		background: url("../../assets/img/challenge_2.jpg") no-repeat;	

		.badge_2{

			width: 320px;
			height: 270px;
			background: url("../../assets/img/badge_2.png") no-repeat;

			margin-left: auto;
			margin-right: auto;
			margin-top: 72px;

		}

	}

	.challenge_3{

		background: url("../../assets/img/challenge_3.jpg") no-repeat;	

		.badge_3{

			width: 320px;
			height: 270px;
			background: url("../../assets/img/badge_3.png") no-repeat;

			margin-left: auto;
			margin-right: auto;
			margin-top: 72px;

		}

	}

}

.app{

	height: 810px;
	background: url("../../assets/img/iphone.png") no-repeat 40px bottom ,url("../../assets/img/app_2.jpg") no-repeat;
	background-size: 45% , cover;

	.app_text{



		width: 520px;
		height: 300px;

		float: right;

		margin-right: 140px;
		padding-top: 180px;

		h1{

			text-align: center;

			font-family: aachen;
			font-size: 2.2em;

			-webkit-font-smoothing: antialiased;

		}

		.lijn{

			width: 270px;
			height: 6px;
			background-color: #ffffff;

			margin-left: 120px;
			margin-top: 10px;
			margin-bottom: 20px;

		}

		p{

			
			line-height: 30px;


		}

		.app_store{

			width: 119px;
			height: 40px;
			background: url("../../assets/img/app_store.png") no-repeat;

			margin-top: 25px;

		}


	}


}

.statistieken{

	height: 220px;
	background: url("../../assets/img/statistieken.jpg") no-repeat;
	background-size: cover;

	.center{


		width: 1260px;
		margin: 0 auto;

		article{

			float: left;
			width: 400px;

			color:#B89655;

			p{

				margin-top: 70px;

				text-align: center;
				font-family: aachen;
				font-size: 1.5em;
				-webkit-font-smoothing: antialiased;

			}

			h1{

				text-align: center;
				font-family: aachen;
				font-size: 1.2em;
				-webkit-font-smoothing: antialiased;

			}

			.lijn{

				width: 130px;
				height: 4px;
				background-color: #B89655;

				margin: 0 auto;
				margin-bottom: 20px;

			}

		}

	}

}

.geuploade_fotos{

	height: 1200px;
	background: url("../../assets/img/fotos.jpg") no-repeat;
	background-size: cover;

	h1{

		padding-top: 70px;
		margin-bottom: 20px;
		text-align: center;
		font-family: aachen;
		font-size: 2.2em;
		-webkit-font-smoothing: antialiased;

	}

	.lijn{

		width: 270px;
		height: 6px;
		background-color: #ffffff;

		margin: 0 auto;

	}

	.container{

		width: 960px;
		height: 960px;

		margin: 0 auto;
		margin-top: 40px;

		
		.foto{

			width: 294px;
			height: 294px;

			border: 8px solid #ffffff;
			margin: 4px 5px;


		}

	}

}

footer{

	height: 30px;
	background-color: #FBFAF6;

	color: black;
	font-size: 0.5em;
	text-align: center;


}


@media only screen and (max-width: 1440px){


	.center_challenges{

		width: 100%;
			
		article{

			width: 33%;

			p{

				width: 80%;


			}

		}	


	}

	.center{

		width: 100% !important;


		article{

			width: 33% !important;

		}

		.lijn{

			width: 30% !important;


		}


	}


}

@media only screen and (max-width: 1220px){


	//app
		
	.app{

		height: 810px;
		background: url("../../assets/img/app_2.jpg") no-repeat;
		background-size: cover;

		.app_text{

			float: none;
			margin: 0 auto;

			p{

				text-align: center;

			}

			.app_store{


				
				margin: 0 auto;
				margin-top: 25px;


			}

		}

	}



}

@media only screen and (max-width: 1095px){

	//header

	.content_header{

		display: none;


	}

	.content_pint{

		visibility: visible !important;

		.pint{

			width: 417px;
			height: 413px;
			background: url("../../assets/img/Header_pint.png") no-repeat;

		}

		h1{

			float: left;
			margin-top: 50px;
			margin-left: 20px;
			

			width: 550px;
			height: 110px;

			font-family: aachen;
			font-size: 2.4em;

			-webkit-font-smoothing: antialiased;

			span{

				font-size: 0.7em;
				

			}

		}

		.meer_info{



		}
	}


	//challenges

	
	.challenges{

		article{

			width: 100%;
			height: 600px;

		}

	}

	.center_challenges{

		.challenge_1{

			background: url("../../assets/img/challenge_1_bg.jpg") no-repeat;
			background-size: cover;	

		}

		.challenge_2{

			background: url("../../assets/img/challenge_2_bg.jpg") no-repeat;
			background-size: cover;	

		}

		.challenge_3{

			background: url("../../assets/img/challenge_3_bg.jpg") no-repeat;
			background-size: cover;	

		}
	}

}

@media only screen and (max-width: 960px){

	
	.container{

		width: 100% !important;

		.foto{

			width: 30% !important;
			height: auto !important;
			//display: block;

		}

	}


}
@media only screen and (max-width: 800px){

	//statistieken
	.statistieken{

		height: 600px;
		background: url("../../assets/img/statistieken_bg.jpg") no-repeat;
		background-size: cover;



	}

	.center{

		


		article{

			width: 100% !important;

		}

		.lijn{

			margin-top: 10px;
			width: 18% !important;


		}


	}

}

@media only screen and (max-width: 780px){


	//menu

	.menu_header, nav{

		.logo{

			margin-left: 150px;

		}

		ul{

			display: none;

		}

	}


}


