html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  color: #FFFFFF;
  background-color: #ff0000;
  font-family: helvetica;
  font-size: 2.4em;
  line-height: 1.9em;
}

.display_non {
  display: none;
}

.dummy_div {
  clear: both;
  float: none;
  height: 0px;
}

.header {
  height: 700px;
  background: url("../../assets/img/Header.jpg") no-repeat;
  background-size: cover;
}
.header h1 {
  position: absolute;
  margin-top: 290px;
  margin-left: 720px;
  width: 550px;
  height: 110px;
  text-indent: -9999999px;
  background: url("../../assets/img/Header_titel.png") no-repeat;
}
.header .meer_info {
  position: absolute;
  margin-top: 420px;
  margin-left: 730px;
  width: 200px;
  height: 50px;
  border: 3px solid #b8974b;
  text-align: center;
}

.menu_header .logo {
  position: absolute;
  text-indent: -999999px;
  width: 101px;
  height: 65px;
  background: url("../../assets/img/logo.png") no-repeat;
  margin-left: 100px;
  margin-top: 20px;
}
.menu_header ul {
  float: right;
  margin-top: 40px;
  margin-right: 100px;
}
.menu_header ul li {
  float: left;
  margin-left: 30px;
}

nav {
  height: 80px;
  background-color: #0e233e;
}
nav h1 {
  position: absolute;
  text-indent: -999999px;
  width: 101px;
  height: 65px;
  background: url("../../assets/img/logo.png") no-repeat;
  margin-left: 100px;
  margin-top: 10px;
}
nav ul {
  float: right;
  margin-top: 20px;
  margin-right: 100px;
}
nav ul li {
  float: left;
  margin-left: 30px;
}

.video {
  height: 300px;
  background: url("../../assets/img/video.jpg") no-repeat;
  background-size: cover;
}

.button_video {
  width: 310px;
  height: 150px;
  background: url("../../assets/img/button_video.png") no-repeat 95px 90px;
  padding-top: 190px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #B89655;
}

.challenges {
  height: 600px;
}
.challenges article {
  float: left;
  width: 480px;
  height: 600px;
  -webkit-font-smoothing: antialiased;
}
.challenges article h1 {
  text-align: center;
}
.challenges article p {
  width: 380px;
  margin: 0 auto;
  margin-top: 20px;
  line-height: 30px;
  text-align: center;
}
.challenges .challenge_1 {
  background: url("../../assets/img/challenge_1.jpg") no-repeat;
}
.challenges .challenge_1 .badge_1 {
  width: 340px;
  height: 287px;
  background: url("../../assets/img/badge_1.png") no-repeat;
  margin-left: 85px;
  margin-top: 72px;
}
.challenges .challenge_2 {
  background: url("../../assets/img/challenge_2.jpg") no-repeat;
}
.challenges .challenge_2 .badge_2 {
  width: 301px;
  height: 259px;
  background: url("../../assets/img/badge_2.png") no-repeat;
  margin-left: 90px;
  margin-top: 90px;
}
.challenges .challenge_3 {
  background: url("../../assets/img/challenge_3.jpg") no-repeat;
}
.challenges .challenge_3 .badge_3 {
  width: 320px;
  height: 266px;
  background: url("../../assets/img/badge_3.png") no-repeat;
  margin-left: 110px;
  margin-top: 90px;
}

.app {
  height: 810px;
  background: url("../../assets/img/iphone.png") no-repeat 40px 220px, url("../../assets/img/app.jpg") no-repeat;
  background-size: 50% , cover;
}
.app .app_text {
  width: 520px;
  height: 300px;
  margin-left: 740px;
  padding-top: 180px;
}
.app .app_text h1 {
  text-align: center;
}
.app .app_text .lijn {
  width: 270px;
  height: 6px;
  background-color: #ffffff;
  margin-left: 120px;
  margin-bottom: 20px;
}
.app .app_text p {
  line-height: 30px;
}
.app .app_text .app_store {
  width: 119;
  height: 40px;
  background: url("../../assets/img/app_store.png") no-repeat;
  margin-top: 10px;
}
