html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  color: #FFFFFF;
  background-color: #0E233E;
  font-family: helvetica;
  font-size: 2.4em;
  line-height: 1.9em;
}

.display_non {
  display: none;
}

.dummy_div {
  clear: both;
  float: none;
  height: 0px;
}

.header {
  height: 700px;
  background: url("../../assets/img/Header.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
.header .content_pint {
  visibility: hidden;
}
.header .content_header {
  width: 1150px;
  height: 510px;
  margin: 0 auto;
  padding-top: 188px;
}
.header .content_header .handen {
  width: 562px;
  height: 514px;
  float: left;
  background: url("../../assets/img/Header_handen.png") no-repeat;
}
.header .content_header h1 {
  float: left;
  margin-top: 50px;
  margin-left: 20px;
  width: 550px;
  height: 110px;
  font-family: aachen;
  font-size: 2.4em;
  -webkit-font-smoothing: antialiased;
}
.header .content_header h1 span {
  font-size: 0.7em;
}
.header .content_header p {
  float: left;
  margin-top: 10px;
  margin-left: 20px;
  width: 200px;
  height: 50px;
  border: 3px solid #b8974b;
  text-align: center;
}
.header .content_header p a {
  text-decoration: none;
  color: white;
}

.menu_header .logo {
  position: absolute;
  text-indent: -999999px;
  width: 101px;
  height: 65px;
  background: url("../../assets/img/logo.png") no-repeat;
  margin-left: 100px;
  margin-top: 20px;
}
.menu_header ul {
  float: right;
  margin-top: 40px;
  margin-right: 100px;
  font-family: aachen;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
}
.menu_header ul li {
  float: left;
  margin-left: 30px;
}
.menu_header ul li a {
  color: #ffffff;
  text-decoration: none;
}
.menu_header ul li a:hover {
  color: #B89655;
}

nav {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 80px;
  background-color: #0e233e;
}
nav h1 a {
  position: absolute;
  text-indent: -999999px;
  width: 101px;
  height: 65px;
  background: url("../../assets/img/logo.png") no-repeat;
  margin-left: 100px;
  margin-top: 10px;
}
nav ul {
  float: right;
  margin-top: 20px;
  margin-right: 100px;
  font-family: aachen;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
}
nav ul li {
  float: left;
  margin-left: 30px;
}
nav ul li a {
  color: #ffffff;
  text-decoration: none;
}
nav ul li a:hover {
  color: #B89655;
  text-decoration: none;
}
nav ul li a:active {
  color: #ffffff;
  text-decoration: none;
}

.video {
  height: 300px;
  background: url("../../assets/img/video.jpg") no-repeat;
  background-size: cover;
}

.button_video {
  width: 310px;
  height: 150px;
  background: url("../../assets/img/button_video.png") no-repeat 95px 90px;
  padding-top: 190px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #B89655;
}

.challenges {
  height: 600px;
}
.challenges article {
  float: left;
  width: 480px;
  height: 600px;
  -webkit-font-smoothing: antialiased;
}
.challenges article h1 {
  text-align: center;
  font-family: aachen;
  font-size: 1.2em;
  -webkit-font-smoothing: antialiased;
}
.challenges article p {
  width: 380px;
  margin: 0 auto;
  margin-top: 20px;
  font-size: .8em;
  line-height: 30px;
  text-align: center;
}

.center_challenges {
  margin: 0 auto;
  width: 1440px;
}
.center_challenges .challenge_1 {
  background: url("../../assets/img/challenge_1.jpg") no-repeat;
}
.center_challenges .challenge_1 .badge_1 {
  width: 320px;
  height: 270px;
  background: url("../../assets/img/badge_1.png") no-repeat;
  margin-left: auto;
  margin-right: auto;
  margin-top: 72px;
}
.center_challenges .challenge_2 {
  background: url("../../assets/img/challenge_2.jpg") no-repeat;
}
.center_challenges .challenge_2 .badge_2 {
  width: 320px;
  height: 270px;
  background: url("../../assets/img/badge_2.png") no-repeat;
  margin-left: auto;
  margin-right: auto;
  margin-top: 72px;
}
.center_challenges .challenge_3 {
  background: url("../../assets/img/challenge_3.jpg") no-repeat;
}
.center_challenges .challenge_3 .badge_3 {
  width: 320px;
  height: 270px;
  background: url("../../assets/img/badge_3.png") no-repeat;
  margin-left: auto;
  margin-right: auto;
  margin-top: 72px;
}

.app {
  height: 810px;
  background: url("../../assets/img/iphone.png") no-repeat 40px bottom, url("../../assets/img/app_2.jpg") no-repeat;
  background-size: 45% , cover;
}
.app .app_text {
  width: 520px;
  height: 300px;
  float: right;
  margin-right: 140px;
  padding-top: 180px;
}
.app .app_text h1 {
  text-align: center;
  font-family: aachen;
  font-size: 2.2em;
  -webkit-font-smoothing: antialiased;
}
.app .app_text .lijn {
  width: 270px;
  height: 6px;
  background-color: #ffffff;
  margin-left: 120px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.app .app_text p {
  line-height: 30px;
}
.app .app_text .app_store {
  margin-top: 25px;
}
.app .app_text .app_store a {
  padding: 30px 120px 30px 30px;
  background: url("../../assets/img/app_store.png") no-repeat;
  background-position: center;
}

.statistieken {
  height: 220px;
  background: url("../../assets/img/statistieken.jpg") no-repeat;
  background-size: cover;
}
.statistieken .center {
  width: 1260px;
  margin: 0 auto;
}
.statistieken .center article {
  float: left;
  width: 400px;
  color: #B89655;
}
.statistieken .center article p {
  margin-top: 70px;
  text-align: center;
  font-family: aachen;
  font-size: 1.5em;
  -webkit-font-smoothing: antialiased;
}
.statistieken .center article h1 {
  text-align: center;
  font-family: aachen;
  font-size: 1.2em;
  -webkit-font-smoothing: antialiased;
}
.statistieken .center article .lijn {
  width: 130px;
  height: 4px;
  background-color: #B89655;
  margin: 0 auto;
  margin-bottom: 20px;
}

.geuploade_fotos {
  background: url("../../assets/img/fotos.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
.geuploade_fotos h1 {
  padding-top: 70px;
  margin-bottom: 20px;
  text-align: center;
  font-family: aachen;
  font-size: 2.2em;
  -webkit-font-smoothing: antialiased;
}
.geuploade_fotos .lijn {
  width: 270px;
  height: 6px;
  background-color: #ffffff;
  margin: 0 auto;
}
.geuploade_fotos .container .bla {
  width: 960px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 10px;
}
.geuploade_fotos .container .bla .foto_item {
  float: left;
  width: 294px;
  border: 8px solid #ffffff;
  margin: 4px 5px;
}
.geuploade_fotos .container .bla .foto_item .imgmask {
  overflow: hidden;
  height: 294px !important;
}

footer {
  height: 30px;
  background-color: #FBFAF6;
  color: black;
  font-size: 0.5em;
  text-align: center;
}

@media only screen and (max-width: 1440px) {
  .center_challenges {
    width: 100%;
  }
  .center_challenges article {
    width: 33%;
  }
  .center_challenges article p {
    width: 80%;
  }

  .center {
    width: 100% !important;
  }
  .center article {
    width: 33% !important;
  }
  .center .lijn {
    width: 30% !important;
  }
}
@media only screen and (max-width: 1220px) {
  .app {
    height: 810px;
    background: url("../../assets/img/app_2.jpg") no-repeat;
    background-size: cover;
  }
  .app .app_text {
    float: none;
    margin: 0 auto;
  }
  .app .app_text p {
    text-align: center;
  }
  .app .app_text .app_store {
    margin-top: 25px;
  }
}
@media only screen and (max-width: 1095px) {
  .content_header {
    display: none;
  }

  .content_pint {
    visibility: visible !important;
    padding-top: 50px;
    width: 530px;
    height: 640px;
    margin: 0 auto;
  }
  .content_pint .pint {
    width: 417px;
    height: 413px;
    background: url("../../assets/img/Header_pint.png") no-repeat;
    margin: 0 auto;
  }
  .content_pint h1 {
    width: 520px;
    height: 130px;
    margin: 0 auto;
    margin-top: 20px;
    font-family: aachen;
    font-size: 2.4em;
    -webkit-font-smoothing: antialiased;
  }
  .content_pint h1 span {
    font-size: 0.7em;
    margin-left: 45px;
  }
  .content_pint p {
    width: 200px;
    height: 50px;
    border: 3px solid #b8974b;
    margin: 0 auto;
    text-align: center;
  }
  .content_pint p a {
    text-decoration: none;
    color: white;
  }

  .challenges article {
    width: 100%;
    height: 600px;
  }

  .center_challenges .challenge_1 {
    background: url("../../assets/img/challenge_1_bg.jpg") no-repeat;
    background-size: cover;
  }
  .center_challenges .challenge_2 {
    background: url("../../assets/img/challenge_2_bg.jpg") no-repeat;
    background-size: cover;
  }
  .center_challenges .challenge_3 {
    background: url("../../assets/img/challenge_3_bg.jpg") no-repeat;
    background-size: cover;
  }
}
@media only screen and (max-width: 995px) {
  .geuploade_fotos {
    width: 100%;
  }
  .geuploade_fotos .bla {
    width: 100% !important;
    height: auto;
  }
  .geuploade_fotos .bla .foto_item {
    width: 50%;
  }
  .geuploade_fotos .bla .foto_item .imgmask {
    width: 100%;
    height: auto;
  }
}
@media only screen and (max-width: 800px) {
  .statistieken {
    height: 600px;
    background: url("../../assets/img/statistieken_bg.jpg") no-repeat;
    background-size: cover;
  }

  .center article {
    width: 100% !important;
  }
  .center .lijn {
    margin-top: 10px;
    width: 18% !important;
  }
}
@media only screen and (max-width: 780px) {
  .menu_header .logo {
    margin-left: 160px;
  }
  .menu_header ul {
    display: none;
  }

  nav {
    display: none;
  }
}
@media only screen and (max-width: 640px) {
  .geuploade_fotos h1 {
    font-size: 1.5em;
  }
  .geuploade_fotos .lijn {
    width: 40%;
  }

  .geuploade_fotos {
    width: 100%;
  }
  .geuploade_fotos .bla {
    width: 80%;
  }
  .geuploade_fotos .bla .foto_item {
    width: 50%;
  }
}
@media only screen and (max-width: 600px) {
  .header {
    width: 100%;
  }
  .header .content_pint {
    width: 400px;
    margin: 0 auto;
  }
  .header .content_pint .pint {
    background-size: 80%;
    margin-left: 45px;
    margin-top: 50px;
  }
  .header .content_pint h1 {
    font-size: 1.6em;
    margin-top: -70px;
    margin-left: 40px;
    line-height: 30px;
  }
  .header .content_pint h1 span {
    font-size: 0.7em;
    margin-left: 40px;
  }
  .header .content_pint .meer_info {
    margin-top: -40px;
    margin-left: 110px;
  }

  .app {
    width: 100%;
  }
  .app .app_text {
    width: 80%;
  }
  .app .app_text h1 {
    font-size: 140%;
  }
  .app .app_text .lijn {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .app .app_text p {
    font-size: 80%;
  }
  .app .app_text .app_store {
    padding-left: 80px;
    margin-top: 25px;
  }
}
